body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.menulist{
    color:white;
    height:100%;
    width:250px;
    position:absolute;
    background:#161616;
    z-index:1;
    transition: 0.5s ease;
    transform:translatex(0px);
}


.menulist .head{
    color:white;
    padding:30px;
    font-size:30px;
    font-weight:bold;
    text-transform: uppercase;
    text-align:center;
    letter-spacing:30x;
    background:linear-gradient(30deg,#df0155,#ed4901)

}
ol{
    width:100%;
    list-style:none;
}
.menuu{
    display:block;
    letter-spacing:1px;
    padding:15px 10px;
    transition:0.3s;
    overflow:hidden;
    text-transform:capitalize;  
    
    
}
ol li{
    display:block;
    letter-spacing:1px;
    padding:15px 10px;
    transition:0.3s;
    overflow:hidden;
    text-transform:capitalize;
    
}
ol li  i{
    width:70px;
    font-size:25px;
    text-align:center;
    

}
 ol li:hover{
    background: #030303; 
    overflow:hidden;
    
    color:#00eaff;/* mouser hover color change*/
    letter-spacing:5px;/* mouse hover letters are spacing*/
 }
 
 input{
     -webkit-appearance: none;
      visibility: hidden;
      display:none;
 } 
 span{
    position:absolute;
    right:-40px;
    top: 30px;
    font-size:25px;
    border-radius:3px;
    color: #fff;
    padding:3px 8px;
    cursor:pointer;
    background:#000;
 }
 

 
 

    
 